{% extends "partials/layout.twig" %}
{% block content %}

    <div class="page-header">
        <h4>Catálogo de Suscriptores</h4>
        <div class="pull-right">
            <a class="btn btn-default" href="{{ 'home/versolicitudes'|url }}">Interesados</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Fecha Registro</th>
        </tr>
        </thead>
        <tbody>
        {% for item in datos %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container" style="margin-bottom: 10px;">
        <div class="row text-muted">
            Total registros: {{ datos|length }}
        </div>
    </div>
{% endblock %}