{% extends "partials/layout_landing.twig" %}
{% block style %}
    <style>
        a{
            color: black;
            text-decoration: none;
        }
        a:hover{
            color: black;
            text-decoration: none;
        }
        h3 {
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- JUMBOTRON -->
    <div id="jumbotron-landing" class="jumbotron">
        <div class="container">
            <div class="row">
                <!-- LOGOTIPO -->
                <div class="col-xs-12 col-sm-10">
                    <img class="img-responsive Sombra" id="logo_landing" src="{{ 'images/logo_exelis.png'|public }}"
                         alt="{{ company_name }}">
                </div>

                <!-- SOCIAL MEDIA LOGOS -->
                <div class="col-xs-12 col-sm-2">
                    <a style="color:white;" href="https://www.facebook.com/exelis" target="_blank">
                        <i class="fa fa-facebook-square fa-2x"></i>
                    </a>

                    <a style="color:white;" href="https://twitter.com/Excelis2017" target="_blank">
                        <i class="fa fa-twitter-square fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12">
                    <!-- TITLE -->
                    <h1 class="Sombra"><strong>Exelis</strong></h1>
                    <h4 class="Sombra"><strong>Oficinas completamente equipadas con mobiliario y servicios en la mejor ubicación de Hermosillo.</strong></h4>
                </div>
            </div>

            <!-- VIDEO PROMOCIONAL -->
            <div class="row text-center">
                <div class="col-xs-12">
                    <br><br><br><br><br>

                    <!-- VENTANA MODAL -->
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                    <h4 id="modal-title-landing" class="modal-title">¿Qué es {{ company_name }}?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>One fine body&hellip;</p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!-- END VENTANA MODAL -->

                </div>
            </div>
            <!-- END VIDEO PROMOCIONAL -->

            <!-- CALL TO ACTION -->
            <div class="row text-center">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                    <h4 class="Sombra">Solicita información de espacios para tu proyecto.</h4>
                    <form method="post" action="{{ 'home/sendmail'|url }}">
                        <div class="input-group">
                            <input id="input-cta" type="text" name="email" class="form-control"
                                   placeholder="Introduce tu email">
                            <span class="input-group-btn">
                  <button id="button-cta" class="btn btn-warning" type="button" data-ajax="true">Solicita</button>
                </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
            <!-- END CALL TO ACTION -->
        </div>
    </div>
    <!-- FIN JUMBOTRON -->

    <!-- PRINCIPALES CARACTERÍSTICAS -->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>¿Qué ofrece {{ company_name }}?</h1>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 col-sm-3">
                <a href="{{ 'home/smartoffice'|url }}"><img src="{{ 'media/oficina 3.svg'|public }}" style="height: 60px;">
                    <h3>Smart Office </h3></a>
                <p>En Exelis encontrarás espacios para oficinas con beneficios adicionales como sala de juntas y comedor, además de personal capacitado para recibir llamadas, mensajes y atender a tus clientes.</p>
                <a href="{{ 'registros/renta'|url }}" class="btn btn-default">Renta un espacio</a>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 col-sm-3">
                <a href="{{ 'home/speople'|url }}"><img src="{{ 'media/smart_people_icon.svg'|public }}" style="height: 60px;">
                <h3>SmartPeople </h3></a>
                <p>¿Quieres unirte a nuestro grupo de trabajo integrando tu talento? Conoce la inversión que implican
                    nuestros espacios independientes y de interacción a favor de la integración de nuestra iniciativa de
                    co-talent.</p>
                <a href="{{ 'registros/solicitudes'|url }}" class="btn btn-default">Empresarios</a>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 col-sm-3">
                <a href="{{ 'home/gbusiness'|url }}"><img src="{{ 'media/great_business_icon.svg'|public }}" style="height: 60px;">
                <h3>Great Business</h3></a>
                <p>Es un grupo conformado con personas de gustos, habilidades, talentos y experiencias diversas que se
                    complementan y enriquecen a favor de la magnitud de los proyectos que se acercan a beneficiarse de
                    Exelis.</p>
                <a href="{{ 'registros/solicitudes'|url }}" class="btn btn-default">Empresas</a>
            </div>
            <div class="col-xs-12 col-md-3 col-lg-3 col-sm-3">
                <img src="{{ 'media/learn_and_practice_icon.svg'|public }}" style="height: 60px;">
                <h3>Learn + Practice + Job</h3>
                <p>En Exelis contamos con proyectos e investigaciones en los que puedes colaborar. De esta manera acreditas tus practicas profesionales, aprendes, generas experiencia y puedes comenzar a formar parte del mundo laboral.</p>
                <a href="{{ 'registros/npracticante'|url }}" class="btn btn-default">Practicantes</a>
                <a href="{{ 'registros/ninvestigador'|url }}" class="btn btn-default">Investigadores</a>
                <a href="{{ 'registros/nreclutamiento'|url }}" class="btn btn-default">Bolsa de trabajo</a>
            </div>
        </div>
    </div>
    <!-- END PRINCIPALES CARACTERÍSTICAS -->

    <!-- TESTIMONIALS -->
    <div class="container">
        <hr class="hidden-xs">
        <div class="row text-center">
            <div class="hidden-xs col-sm-6">
                <img src="{{ 'media/leon_mayoral.png'|public }}" alt="Leon Mayoral" class="img-circle" style="width: 120px; height: 135px;">
                <h5><i class="fa fa-quote-left"></i><em>Consejos para la mejor organización, valores, innovación,
                        financiación, apertura de mercados, nuevas ideas de empresa, todo esto ha significado Exelis
                        para nuestra empresa, un conjunto de talentos reunidos y en colaboración que se complementan a
                        favor del beneficio de todos los involucrados.
                    </em><i class="fa fa-quote-right"></i></h5>
                <p>León Mayoral, empresario</p>
            </div>
            <div class="hidden-xs col-sm-6">
                <img src="{{ 'media/christian_aguirre.png'|public }}" alt="Berta" class="img-circle" style="width: 120px; height: 135px;">
                <h5><i class="fa fa-quote-left"></i> <em>Exelis Business Hub, además de ser miembro de Global Chamber
                        Hermosillo, es también un importante aliado en la realización de sus actividades de promoción y
                        eventos de carácter internacional</em><i class="fa fa-quote-right"></i></h5>
                <p>Christian Aguirre, empresario</p>
            </div>
        </div>
    </div>
    <!-- END TESTIMONIALS -->

    <!-- MEDIA -->
    <div class="container">
        <hr class="hidden-xs hidden-sm">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-2">
                <a href="#" target="_blank">
                    <img class="img-responsive" src="{{ 'media/empresas/acuagro.png'|public }}" alt="Acuagro">
                </a>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <a href="#" target="_blank">
                    <img class="img-responsive" src="{{ 'media/empresas/bizmatch.png'|public }}" alt="Bzmarch">
                </a>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <a href="#" target="_blank">
                    <img class="img-responsive" src="{{ 'media/empresas/gramen.png'|public }}" alt="Gramen">
                </a>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <a href="#" target="_blank">
                    <img class="img-responsive" src="{{ 'media/empresas/leon_mayoral.jpeg'|public }}" alt="Leon Mayoral">
                </a>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <a href="#" target="_blank">
                    <img class="img-responsive" src="{{ 'media/empresas/somos_multimedia.png'|public }}"
                         alt="Somos Multimedia">
                </a>
            </div>
            <div class="hidden-xs hidden-sm col-md-2">
                <a href="#" target="_blank">
                    <img class="img-responsive" src="{{ 'media/empresas/valvek.png'|public }}" alt="Valvek">
                </a>
            </div>
        </div>
    </div>
    <!-- END MEDIA -->
{% endblock %}